.field-button{
  width: 400px;
  padding: 10px;
}

.field-button input{
  width: 100%;
  padding: 10px;
  color: #FFF;
  background-color: #f5bc04;
  border: 0;
}

.form-input input{
  width: 100%;
  padding: 10px;
  border: 0;
}

.field{
  width: 400px;
  padding: 10px;
}

.field-title b{
  color: #f5bc04;
}

.fields{
  width: 440px;
  margin: 20px auto;
  padding: 20px;
}